<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>课程管理</title>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/fonts/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconPage.css}"/>
    <style>
        .icon-page-content-text-footer {
            text-align: right;
            width: 15%;
            float: right;
        }
        .icon-page-content-text-footer i {
            color: grey;
        }
        .fa-trash-o:hover, .fa-trash-o:active, .fa-plus:hover, .fa-plus:active {
            color: #428bca;
        }
        .header-add {
            width: 28.5%;
            display: inline-block;
            text-align: right;
        }
        h5 {
            font-size: 1.6rem;
            margin: 2px 0;
        }
    </style>
</head>
<body>
<div class="all-content">
    <div class="header-bar">
        <div class="header-back" th:onclick="'window.location.href=\''+@{/user/index}+'\''">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="header-title">课程管理</div>
        <div class="header-add" th:onclick="'window.location.href=\''+@{/user/course}+'\''">
            <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
        </div>
    </div>
    <div class="icon-page-list" th:each="course : ${courseList}">
        <div class="icon-page-content">
            <div class="icon-page-content-img"
                 th:onclick="'window.location.href=\''+@{/user/course/}+${course.id}+'\''">
                <img th:src="@{${course.cover}}" alt="" class="img-responsive"/>
            </div>
            <div class="icon-page-content-text">
                <div class="icon-page-content-text-header"
                     th:onclick="'window.location.href=\''+@{/user/course/}+${course.id}+'\''">
                    <h5 th:text="${course.name}"></h5><span th:text="${course.teacher}"></span>
                </div>
                <div class="icon-page-content-text-footer">
                    <i class="fa fa-2x fa-trash-o" aria-hidden="true"
                       th:onclick="'deleteCourse('+ ${course.id} +')'"></i>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-default load-more" onclick="getMyCourse()">更多</button>
</div>
</body>
<script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<script>
    function deleteCourse(id) {
        if (confirm('确认删除此课程？')) {
            $.post("manage/delete", {id: id}, function (data) {
                if (data.data === true) {
                    alert("删除成功！");
                    location.reload();
                } else {
                    alert("请刷新后重试！")
                }
            });
        }
    }
    var page = 1;
    function getMyCourse() {
        $.get("manage/more", {page: page++}, function (data) {
            if (data.data.length) {
                $.each(data.data, function (i, item) {
                    $('.load-more').before(
                        '<div class="icon-page-list">' +
                        '<div class="icon-page-content">' +
                        '<div class="icon-page-content-img" onclick="clickHref('+item.id+')">' +
                        '<img src="/party' + item.cover + '" alt="" class="img-responsive"/>' +
                        '</div>' +
                        '<div class="icon-page-content-text">' +
                        '<div class="icon-page-content-text-header" onclick="clickHref('+item.id+')">' +
                        '<h5>' + item.name + '</h5>' +
                        '<span>' + item.teacher + '</span>' +
                        '</div>' +
                        '<div class="icon-page-content-text-footer">' +
                        '<i class="fa fa-2x fa-trash-o" aria-hidden="true" onclick="deleteCourse('+ item.id+')"></i>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                    )
                });
            } else {
                alert('没有更多了')
            }
        });
    }
    function clickHref(id) {
        window.location.href="course/"+id;
    }
</script>
</html>