<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>找回密码</title>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/fonts/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconPage.css}"/>
    <style>
        body {
            background-color: #efefef;
        }

        input {
            margin-bottom: 5%;
        }

        .check-email{
            padding: 7%;
        }
    </style>
</head>
<body>
<div class="all-content">
    <div class="header-bar">
        <div class="header-back" onclick="window.history.go(-1)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="header-title">找回密码</div>
    </div>
    <!--邮箱验证表单-->
    <form action="#">
        <div class="check-email">
            <!--邮箱-->
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" name="mail" class="form-control email" id="phone"  placeholder="请输入正确的邮箱地址"/>
                </div>
            </div>
            <!--验证码-->
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control findCode" disabled="disabled"  style="padding-right: 0" placeholder="请输入邮箱验证码"/>
                        <span class="input-group-btn">
                        <button class="btn btn-default" disabled="disabled" type="button" id="getCode">获取验证码</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <!--下一步-->
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn  btn-outline-inverse btn-block btn-primary" style="margin-top: 7%;color: #ffffff;background-color: #ce303d;border-color: #ce303d;"  data-toggle="modal" id="next">下一步</a>
                </div>
            </div>
        </div>
    </form>
    <!--重置密码模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">重置密码</h4>
                </div>
                <!--新密码、旧密码-->
                <div class="modal-body" style="padding:7%;">
                    <!--密码验证表单-->
                    <form action="#">
                        <input type="text" class="form-control new-password-1" placeholder="新密码"/>
                        <input type="text" class="form-control new-password-2" placeholder="确认密码"/>
                    </form>
                </div>
                <div class="modal-footer" style="margin: 0">
                    <button type="button" class="btn btn-default" id="submitModify">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
<script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("#next").on('click', function () {
            if (checkRegEmail() && checkRegCode()) {//登录表单标签验证都为真时提交表单
                $('#myModal').modal('show')
            }
        });
        /* Email验证*/
        function checkRegEmail() {
            var email = $('.email');
            if (!email.val()) {
                alert('请输入邮箱');
                email.focus();
                return false;
            } else if (!/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(email.val())) {
                alert('请输入有效的邮箱地址');
                email.focus();
                return false;
            } else {
                return true;
            }
        }
        //即时根据邮箱是否合法显示获取按钮和验证码输入框的状态
        $('.email').keyup(function () {
            if (/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test($('.email').val())) {
                $('#getCode').removeAttr('disabled');
                $('.findCode').removeAttr('disabled');
            } else{
                $('#getCode').attr('disabled','disabled');
                $('.findCode').attr('disabled','disabled');
            }
        });

        /* 验证码验证*/
        function checkRegCode() {
            if (!sessionStorage.code) {
                alert("请先发送邮箱");
                return false;
            }
            var code = $('.findCode');
            if (!code.val()) {
                alert('请输入验证码');
                code.focus();
                return false;
            } else if (!/^[0-9a-zA-Z]{4,8}$/.test(code.val())) {
                alert("验证码有误");
                code.focus();
                return false;
            }else if (sessionStorage.code.toUpperCase() !== code.val().toUpperCase()) {
                alert(sessionStorage.code.toUpperCase() +" "+ code.val().toUpperCase());
                alert("验证码有误");
                return false;
            }
            sessionStorage.removeItem("code");
            return true;
        }
        /* 获取验证码*/
        $("#getCode").on('click', function () {
            var $getCode = $("#getCode");
            var timer = 5;
            var settime = setInterval(function () {
                $getCode.attr('disabled', 'true');
                $getCode.css({
                    color: 'red'
                });
                $getCode.text(--timer + 's后重新发送');
                if (timer === -1) {
                    window.clearInterval(settime);
                    $getCode.removeAttr('disabled');
                    $getCode.css({
                        color: 'darkgrey'
                    });
                    $getCode.text("重新获取");
                }
            }, 1000);
            $.post("sendCode", {mail: $("input[name='mail']").val()}, function (data) {
                if (data.msg === "success" && data.data) {
                    sessionStorage.code = data.data;
                    alert('发送成功');
                } else if (data.code === 16) {
                    alert(data.msg);
                } else {
                    alert('发送失败');
                }
            });
        });

        /*找回密码表单的提交验证*/
        $("#submitModify").on('click', function () {
            if (checkNewPassword() && checkNewPassword_2()) { //登录表单标签验证都为真时提交表单
                $.post("retrieve/save",
                    {mail: $("input[name='mail']").val(), password: $('.new-password-1').val()},
                    function (data) {
                    if (data.msg === "success") {
                        alert('密码修改成功');
                        window.location.href = [[@{/}]];
                    } else {
                        alert('密码修改失败');
                    }
                });
            }
        });

        /*新密码验证*/
        function checkNewPassword() {
            var password = $('.new-password-1');
            if (!password.val()) {
                alert("请输入新密码");
                password.focus();
                return false;
            } else if (!/^[0-9a-zA-Z]{6,16}$/.test(password.val())) {
                alert("密码由6-16位数字或字母组成");
                password.focus();
                return false;
            } else {
                return true;
            }
        }
        /*确认密码*/
        function checkNewPassword_2() {
            var password = $('.new-password-1');
            var password_2 = $('.new-password-2');
            if (!password_2.val()) {
                alert('确认密码不能为空');
                password_2.focus();
                return false;
            } else if (password_2.val() !== password.val()) {
                alert("两次密码输入不一致");
                password_2.focus();
                return false;
            } else {
                return true;
            }
        }
    });
    /*]]>*/
</script>
</html>